<section class="consultation">
    <div class="consultation__container">
        <div class="container">
            <div class="consultation__header">

            </div>
            <div class="consultation__form">
                <form action="" name="consultation" id="consultation">
                    <div class="consultation__row">
                        <input type="text" name="first_name" id="first_name">
                    </div>
                    <div class="consultation__row">
                        <input type="text" name="first_name" id="first_name">
                    </div>
                    <div class="consultation__row">
                        <select name="" id="">
                            <option value="1">1</option>
                            <option value="2">2</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>