<section class="contacts">
    <div class="contacts__container">
        <div class="container">
            <div class="contacts__wrapper">
                <div class="contacts__map">
                    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Abdabc3416166621693413da51e5fac06aa0cdea70ef1a142e91f71f43c107d75&amp;source=constructor" width="100%" height="542" frameborder="0"></iframe>
                </div>

                <div class="contacts__list">
                    <div class="contacts__row">
                        <div class="contacts__title section-title">Контакты</div>
                    </div>
                    <div class="contacts__row">
                        <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.125 16.0415C13.125 18.4577 15.0838 20.4165 17.5 20.4165C19.9162 20.4165 21.875 18.4577 21.875 16.0415C21.875 13.6253 19.9162 11.6665 17.5 11.6665C15.0838 11.6665 13.125 13.6253 13.125 16.0415" stroke="#0C4E8A" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M25.7497 24.2915L19.562 30.4792C18.4232 31.6169 16.5781 31.6169 15.4393 30.4792L9.25013 24.2915C4.69418 19.7353 4.69431 12.3485 9.25041 7.79251C13.8065 3.23648 21.1933 3.23648 25.7494 7.79251C30.3055 12.3485 30.3057 19.7353 25.7497 24.2915V24.2915Z" stroke="#0C4E8A" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <p class="contacts__address">Адрес Астана улица</p>
                    </div>
                    <div class="contacts__row">
                        <a href="tel:+7(747)8881224" class="contacts__phone">+7 (747) 888 12 24</a>
                    </div>
                    <div class="contacts__row">
                        <a href="mailto:zhanadil@mail.com" class="contacts__email">zhanadil@mail.com</a>
                    </div>
                    <div class="contacts__row">
                        <a href="insta" class="contacts__inst">@zhanadil</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>