<footer class="footer">
    <div class="footer__container">
        <div class="container">
            <div class="footer__wrapper">
                <div class="footer__logo">
                    <picture>
                        <source media="(max-width:576px)" srcset="img/logo-white-mobile.png">
                        <img src="img/logo-footer.png" alt="">
                    </picture>

                </div>

                <div class="menu-list">
                    <div class="menu-list__container">
                        <div class="menu-list__item">
                            <a href="javascript:;" class="menu-list__link active">УСЛУГИ</a>
                        </div>

                        <div class="menu-list__item">
                            <a href="#license" class="menu-list__link">ЛИЦЕНЗИИ</a>
                        </div>

                        <div class="menu-list__item">
                            <a href="#contacts" class="menu-list__link">КОНТАКТЫ</a>
                        </div>

                        <div class="menu-list__item">
                            <a href="/blog.html" class="menu-list__link">БЛОГ</a>
                        </div>
                    </div>
                </div>

                <div class="social-media">
                    <div class="social-media__container">
                        <div class="social-media__item">
                            <a href="" class="social-media__link">
                                <img src="img/phone-menu-icon.svg" alt="">
                            </a>
                        </div>

                        <div class="social-media__item">
                            <a href="" class="social-media__link">
                                <img src="img/whatsapp-menu-icon.svg" alt="">
                            </a>
                        </div>

                        <div class="social-media__item">
                            <a href="" class="social-media__link">
                                <img src="img/insta-menu-icon.svg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer__wrapper">
                <div class="footer__copyright"><p>2024 © Все права защищены</p></div>
                <div class="footer__develop">
                    <a href="https://astanacreative.kz" target="_blank">Разработано в Astana Creative</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
<script src="js/script.js"></script>