<section class="grade">
    <div class="grade__container">
        <div class="container">
            <div class="grade__header">
                <h2 class="grade__title section-title"><span>Оценка</span> для банков</h2>
            </div>

            <div class="grade__wrapper">
                <div class="grade__item">
                    <img src="img/otbasy.png" alt="">
                </div>

                <div class="grade__item">
                    <img src="img/forte.png" alt="">
                </div>

                <div class="grade__item">
                    <img src="img/altyn.png" alt="">
                </div>

                <div class="grade__item">
                    <img src="img/alpha.png" alt="">
                </div>

                <div class="grade__item">
                    <img src="img/program-7-25-25.png" alt="">
                </div>

                <div class="grade__item">
                    <img src="img/bcc.png" alt="">
                </div>

                <div class="grade__item">
                    <img src="img/jusan.png" alt="">
                </div>

                <div class="grade__item">
                    <img src="img/vtb.png" alt="">
                </div>

                <div class="grade__item">
                    <img src="img/rbk.png" alt="">
                </div>

                <div class="grade__item">
                    <img src="img/program-baspana.png" alt="">
                </div>
            </div>

            <div class="grade__button-wrapper">
                <a href="" class="grade__button primary-button">Заказать оценку</a>
            </div>
        </div>
    </div>
</section>