<header class="header">
    <div class="header__container">
        <div class="container">
            <div class="header__wrapper">
                <div id="burger-menu">
                    <span></span>
                </div>
                <div class="header__logo">
                    <a href="/">
                        <picture>
                            <source media="(max-width: 576px)" srcset="img/logo-mobile.png">
                            <img src="img/logo.png" alt="">
                        </picture>
                    </a>
                </div>

                <div class="menu-list" id="menu">
                    <div class="menu-list__container">
                        <div class="menu-list__item">

                            <div class="dropdown-menu">
                                <a href="javascript:;" class="menu-list__link menu-list__dropdown">ВЫБЕРИТЕ ГОРОД</a>
                                <ul class="dropdown-menu__list dropdown-menu__city">
                                    <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">Астана</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="menu-list__item">
                            <div class="dropdown-menu">
                                <a href="javascript:;" class="menu-list__link menu-list__dropdown active">УСЛУГИ</a>
                                <ul class="dropdown-menu__list dropdown-menu__service">
                                    <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">СПИСОК ДОКУМЕНТОВ ДЛЯ ОЦЕНКИ НЕДВИЖИМОСТИ</a></li>
                                    <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">ОЦЕНКА ДЛЯ БАНКОВ</a></li>
                                    <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">ОЦЕНКА ЖИЛЫХ ДОМОВ</a></li>
                                    <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">ОЦЕНКА КВАРТИР</a></li>
                                    <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">ОЦЕНКА НЕЖИЛЫХ ПОМЕЩЕНИЙ</a></li>
                                    <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">ОЦЕНКА ЗЕМЕЛЬНЫХ УЧАСТКОВ</a></li>
                                    <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">ОЦЕНКА ЛЕГКОВЫХ АВТОМОБИЛЕЙ</a></li>
                                    <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">ОЦЕНКА ГРУЗОВЫХ АВТОМОБИЛЕЙ</a></li>
                                    <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">ОЦЕНКА СПЕЦТЕХНИКИ</a></li>
                                    <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">ОЦЕНКА ЛОДОК</a></li>
                                    <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">ОЦЕНКА ВАГОНОВ</a></li>
                                    <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">ОЦЕНКА ОБОРУДОВАНИЯ</a></li>
                                    <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">ОЦЕНКА ОСНОВНЫХ СРЕДСТВ</a></li>
                                    <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">ОЦЕНКА ТОВАРОВ</a></li>
                                    <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">ОЦЕНКА ДОРОГ</a></li>
                                    <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">ОЦЕНКА ОСТАТОЧНОЙ СТОИМОСТИ</a></li>
                                    <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">ОЦЕНКА ДЛЯ НАЛОГОВОЙ</a></li>
                                    <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">ОЦЕНКА ДЛЯ СУДА</a></li>
                                    <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">ОЦЕНКА ДЛЯ НАСЛЕДСТВА</a></li>
                                    <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">Оценка бизнеса</a></li>
                                    <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">Оценка интеллектуальной собственности</a></li>
                                    <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">Оценка ущерба</a></li>
                                    <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">Оценка ущерба при ДТП</a></li>
                                    <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">Оценка ущерба после потопа пожара</a></li>
                                    <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">Аналитическая справка</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="menu-list__item">
                            <a href="#license" class="menu-list__link js-anchor">ЛИЦЕНЗИИ</a>
                        </div>

                        <div class="menu-list__item">
                            <a href="#contacts" class="menu-list__link js-anchor">КОНТАКТЫ</a>
                        </div>

                        <div class="menu-list__item">
                            <a href="/blog.html" class="menu-list__link">БЛОГ</a>
                        </div>

                        <div class="language language_location_mobile ">
                            <div class="language__container">
                                <div class="language__item active">
                                    <a href="/" class="language__link">Рус</a>
                                </div>
                                <div class="language__item">
                                    <a href="/kz" class="language__link">Каз</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="language">
                    <div class="language__container">
                        <div class="language__item ">
                            <a href="/" class="language__link active">Рус</a>
                        </div>
                        <div class="language__item">
                            <a href="/kz" class="language__link">Каз</a>
                        </div>
                    </div>
                </div>

                <div class="social-media">
                    <div class="social-media__container">
                        <div class="social-media__item">
                            <a href="" class="social-media__link">
                                <img src="img/phone-menu-icon.svg" alt="">
                            </a>
                        </div>

                        <div class="social-media__item">
                            <a href="" class="social-media__link">
                                <img src="img/whatsapp-menu-icon.svg" alt="">
                            </a>
                        </div>

                        <div class="social-media__item">
                            <a href="" class="social-media__link">
                                <img src="img/insta-menu-icon.svg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>