<section class="header">
    <div class="header__container">
        <div class="container">
            <div class="header__wrapper">
                <div class="header__logo">
                    <img src="img/logo.png" alt="">
                </div>

                <div class="top-menu">
                    <div class="top-menu__container">
                        <div class="top-menu__item">
                            <a href="javascript:;" class="top-menu__link">ВЫБЕРИТЕ ГОРОД</a>
                        </div>

                        <div class="top-menu__item">
                            <a href="javascript:;" class="top-menu__link active">УСЛУГИ</a>
                        </div>

                        <div class="top-menu__item">
                            <a href="#license" class="top-menu__link">ЛИЦЕНЗИИ</a>
                        </div>

                        <div class="top-menu__item">
                            <a href="#contacts" class="top-menu__link">КОНТАКТЫ</a>
                        </div>

                        <div class="top-menu__item">
                            <a href="/blog.html" class="top-menu__link">БЛОГ</a>
                        </div>
                    </div>
                </div>

                <div class="language">
                    <div class="language__container">
                        <div class="language__item active">
                            <a href="/" class="language__link">Рус</a>
                        </div>
                        <div class="language__item">
                            <a href="/kz" class="language__link">Каз</a>
                        </div>
                    </div>
                </div>

                <div class="social-media">
                    <div class="social-media__container">
                        <div class="social-media__item">
                            <a href="" class="social-media__link">
                                <img src="img/phone-menu-icon.svg" alt="">
                            </a>
                        </div>

                        <div class="social-media__item">
                            <a href="" class="social-media__link">
                                <img src="img/whatsapp-menu-icon.svg" alt="">
                            </a>
                        </div>

                        <div class="social-media__item">
                            <a href="" class="social-media__link">
                                <img src="img/insta-menu-icon.svg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>