<header class="header">
    <div class="header__container">
        <div class="container">
            <div class="header__wrapper">
                <div class="header__logo">
                    <a href="/">
                        <img src="img/logo.png" alt="">
                    </a>
                </div>

                <div class="menu-list">
                    <div class="menu-list__container">
                        <div class="menu-list__item">
                            <a href="javascript:;" class="menu-list__link">ВЫБЕРИТЕ ГОРОД</a>
                        </div>

                        <div class="menu-list__item">
                            <a href="javascript:;" class="menu-list__link active">УСЛУГИ</a>
                        </div>

                        <div class="menu-list__item">
                            <a href="#license" class="menu-list__link">ЛИЦЕНЗИИ</a>
                        </div>

                        <div class="menu-list__item">
                            <a href="#contacts" class="menu-list__link">КОНТАКТЫ</a>
                        </div>

                        <div class="menu-list__item">
                            <a href="/blog.html" class="menu-list__link">БЛОГ</a>
                        </div>
                    </div>
                </div>

                <div class="language">
                    <div class="language__container">
                        <div class="language__item active">
                            <a href="/" class="language__link">Рус</a>
                        </div>
                        <div class="language__item">
                            <a href="/kz" class="language__link">Каз</a>
                        </div>
                    </div>
                </div>

                <div class="social-media">
                    <div class="social-media__container">
                        <div class="social-media__item">
                            <a href="" class="social-media__link">
                                <img src="img/phone-menu-icon.svg" alt="">
                            </a>
                        </div>

                        <div class="social-media__item">
                            <a href="" class="social-media__link">
                                <img src="img/whatsapp-menu-icon.svg" alt="">
                            </a>
                        </div>

                        <div class="social-media__item">
                            <a href="" class="social-media__link">
                                <img src="img/insta-menu-icon.svg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>