<section class="license">
    <div class="license__container">
        <div class="container">
            <div class="license__header">
                <h2 class="section-title">Лицензия</h2>
            </div>
            <div class="license__slider-buttons-container slider__buttons-container">
                <div class="license__slider-buttons-container slider__buttons">
                    <div class="license__slider-prev slider__prev"><img src="img/arrow-left.svg" alt=""></div>
                    <div class="license__slider-next slider__next"><img src="img/arrow-right.svg" alt=""></div>
                </div>
            </div>
        </div>
    </div>
    <div class="license__wrapper">
        <div class="swiper license__slider">
            <div class="swiper-wrapper">
                <div class="license__slide swiper-slide" data-fancybox="gallery" data-src="img/license-1.png"><img src="img/license-1.png" alt=""></div>
                <div class="license__slide swiper-slide" data-fancybox="gallery" data-src="img/license-2.png"><img src="img/license-2.png" alt=""></div>
                <div class="license__slide swiper-slide" data-fancybox="gallery" data-src="img/license-3.png"><img src="img/license-3.png" alt=""></div>
                <div class="license__slide swiper-slide" data-fancybox="gallery" data-src="img/license-4.png"><img src="img/license-4.png" alt=""></div>
                <div class="license__slide swiper-slide" data-fancybox="gallery" data-src="img/license-5.png"><img src="img/license-5.png" alt=""></div>
                <div class="license__slide swiper-slide" data-fancybox="gallery" data-src="img/license-6.png"><img src="img/license-6.png" alt=""></div>
                <div class="license__slide swiper-slide" data-fancybox="gallery" data-src="img/license-7.png"><img src="img/license-7.png" alt=""></div>
                <div class="license__slide swiper-slide" data-fancybox="gallery" data-src="img/license-8.png"><img src="img/license-8.png" alt=""></div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

</section>