<section class="our-partners">
    <div class="our-partners__container">
        <div class="container">
            <div class="our-partners__header way--left">
                <h2 class="section-title">Наши партнеры</h2>
            </div>

            <div class="our-partners__wrapper way--right">
                <div class="our-partners__item">
                    <img src="img/logo-sample.png" alt="">
                </div>

                <div class="our-partners__item">
                    <img src="img/logo-sample.png" alt="">
                </div>

                <div class="our-partners__item">
                    <img src="img/logo-sample.png" alt="">
                </div>

                <div class="our-partners__item">
                    <img src="img/logo-sample.png" alt="">
                </div>

                <div class="our-partners__item">
                    <img src="img/logo-sample.png" alt="">
                </div>

                <div class="our-partners__item">
                    <img src="img/logo-sample.png" alt="">
                </div>

                <div class="our-partners__item">
                    <img src="img/logo-sample.png" alt="">
                </div>

                <div class="our-partners__item">
                    <img src="img/logo-sample.png" alt="">
                </div>

                <div class="our-partners__item">
                    <img src="img/logo-sample.png" alt="">
                </div>

                <div class="our-partners__item">
                    <img src="img/logo-sample.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>