<section class="reasons">
    <div class="reasons__container">
        <div class="container">
            <div class="reasons__header way--up">
                <h2 class="section-title"><span>6 причин</span> работать с нами</h2>
            </div>

            <div class="reasons__wrapper">
                <div class="reasons__card way--up">
                    <div class="reasons__card-icon">
                        <img src="img/reason-1.svg" alt="">
                    </div>

                    <div class="reasons__card-title">
                        <p class="bold-plain-text">
                            Гарантия качества и скорости
                        </p>
                    </div>

                    <div class="reasons__card-desc">
                        <p class="plain-text">
                            Любая работа, за которую мы беремся выполняется на высоком уровне и обязательно точно в сроки, указанные в договоре сотрудничества
                        </p>
                    </div>
                </div>

                <div class="reasons__card way--up">
                    <div class="reasons__card-icon">
                        <img src="img/reason-2.svg" alt="">
                    </div>

                    <div class="reasons__card-title">
                        <p class="bold-plain-text">
                            Опыт более 5 лет
                        </p>
                    </div>

                    <div class="reasons__card-desc">
                        <p class="plain-text">
                            Многолетний опыт и тысячи выполненных заказов позволяют нашему агенству решать задачи, за которые не рискуют браться другие
                        </p>
                    </div>
                </div>

                <div class="reasons__card way--up">
                    <div class="reasons__card-icon">
                        <img src="img/reason-3.svg" alt="">
                    </div>

                    <div class="reasons__card-title">
                        <p class="bold-plain-text">
                            Удобство
                        </p>
                    </div>

                    <div class="reasons__card-desc">
                        <p class="plain-text">
                            Поддержка круглосуточно, без перерывов и выходных. Выезд эксперта-оценщика на объект бесплатно (любой адрес)
                        </p>
                    </div>
                </div>

                <div class="reasons__card way--up">
                    <div class="reasons__card-icon">
                        <img src="img/reason-4.svg" alt="">
                    </div>

                    <div class="reasons__card-title">
                        <p class="bold-plain-text">
                            Доступные цены
                        </p>
                    </div>

                    <div class="reasons__card-desc">
                        <p class="plain-text">
                            Мы предлагаем своим клиентам готовность отчета об оценке за 1 рабочий день и за 5 часа в срочных случаях. Успеем точно в срок!
                        </p>
                    </div>
                </div>

                <div class="reasons__card way--up">
                    <div class="reasons__card-icon">
                        <img src="img/reason-5.svg" alt="">
                    </div>

                    <div class="reasons__card-title">
                        <p class="bold-plain-text">
                            Надежность
                        </p>
                    </div>

                    <div class="reasons__card-desc">
                        <p class="plain-text">
                            Наша компания придерживается строгой политики соблюдения конфиденциальности, предоставленной вами информации во время оформления заказов
                        </p>
                    </div>
                </div>

                <div class="reasons__card way--up">
                    <div class="reasons__card-icon">
                        <img src="img/reason-6.svg" alt="">
                    </div>

                    <div class="reasons__card-title">
                        <p class="bold-plain-text">
                            Профессиональная команда
                        </p>
                    </div>

                    <div class="reasons__card-desc">
                        <p class="plain-text">
                            Мы собрали лучших специалистов на рынке с большим опытом для любого вида услуг.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>