<section class="why-we">
    <div class="why-we__container">
        <div class="container">
            <div class="why-we__header way--left">
                <h2 class="why-we__title section-title">Почему выбирают <span>нас</span>?</h2>
                <p class="why-we__desc bold-plain-text">Сами выезжаем на объект делаем Оценку за один день!</p>
            </div>
        </div>
        <div class="why-we__wrapper way--left">
            <div class="container">
                <div class="why-we__cards">
                    <div class="why-we__card">
                        <div class="why-we__card-title">17 000</div>
                        <div class="why-we__card-desc">Объектов оценили</div>
                    </div>

                    <div class="why-we__card">
                        <div class="why-we__card-title">9</div>
                        <div class="why-we__card-desc">Лет на рынке</div>
                    </div>

                    <div class="why-we__card">
                        <div class="why-we__card-title">10</div>
                        <div class="why-we__card-desc">Филиалов в городах</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>