.article-card {
  &__container {

  }

  &__img {
    position: relative;
    height: 250px;
    border-radius: 20px;
    margin-bottom: 10px;
  }

  &__read-more {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px 13px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    border-radius: 50px;
    background-color: $accentColor;
    color: #111;
    transition: background-color .2s;

    &:after {
      content: url("../img/read-more-arrow.svg");
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 5px;
    }

    &:hover {
      background-color: #fff;
    }
  }

  &__desc {
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    color: $plainTextColorBlack;
  }

  &__text {
  }
}