.article-card {
  &__container {

  }

  &__img {
    position: relative;
    max-height: 250px;
    border-radius: 20px;
    margin-bottom: 10px;
    
    @media (max-width: 1200px) {
      
    }
  }

  &__read-more {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px 13px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    border-radius: 50px;
    background-color: $accentColor;
    color: #111;
    transition: background-color .2s;

    @media (max-width: 576px) {
      right: unset;
      bottom: 20px;
      left: 20px;
    }

    &:after {
      content: url("../img/read-more-arrow.svg");
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 5px;
    }

    &:hover {
      background-color: #fff;
    }
  }

  &__desc {
  }

  &__title {
    font-size: clamp(1rem, 0.833rem + 0.463vw, 1.25rem);
    font-weight: 700;
    line-height: clamp(1.625rem, 1.208rem + 1.157vw, 2.25rem);
    color: $plainTextColorBlack;
  }

  &__text {
  }
}