.blog {
  &__container {
    @include __container;
    @include xl_margin_bottom;
  }

  &__header {
    text-align: center;
    @include m_margin_bottom;
  }

  &__title {
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px 25px;

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 576px) {
      grid-template-columns: 1fr;
    }
  }
}