.blog {
  &__container {
    @include __container;
    @include xl_margin;
  }

  &__header {
    text-align: center;
    margin-bottom: 100px;
  }

  &__title {
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px 25px;
  }
}