.consultation {
  &__container {
    @include __container;
    @include xl_margin_bottom;
    width: 100%;
    background-image: url("../img/consultation.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 41px 300px -170px rgba(12,78,138,1);
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 20px;
    @include s_padding;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      padding: 30px 0;
    }
  }

  &__header {
    @include xs_margin_bottom;

    @media (max-width: 768px) {

      text-align: center;
    }
  }

  &__form-container {
    justify-self: center;
    max-width: 354px;
  }

  &__form {
    display: grid;
    justify-content: center;
    gap: 20px;
    padding: 50px 40px;
    background-color: #E6E6EB;
    border-radius: 20px;

    @media (max-width: 768px) {
      gap: 10px;
      padding: 30px 30px;
    }

    input,
    select {
      width: 100%;
    }
  }

  &__row {
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 17px 0;
    width: 100%;
  }
}