.contacts {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    @include xl_margin_bottom;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 23px;

    @media (max-width: 992px) {
      grid-template-columns: 1fr;
    }
  }

  canvas {
    border-radius: 20px;
  }

  &__list {
    padding: 50px;
    border: 1px solid #EAEAEA;
    border-radius: 20px;

    @media (max-width: 992px) {
      padding: 25px;
    }
  }

  &__col {

  }

  &__row {
    display: grid;
    grid-template-columns: 25px 1fr;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: clamp(0.75rem, 0.417rem + 0.926vw, 1.25rem);
    font-weight: 500;
    line-height: 22px;

    &:not(:last-child) {
      @include s_margin_bottom;
    }

    svg {
      width: 25px;
      height: 25px;
    }
  }

  &__title {
    margin-bottom: 90px;

    @media (max-width: 992px) {
      margin-bottom: 45px;
    }

    @media (max-width: 576px) {
      margin-bottom: 25px;
    }
  }

  &__address {
    display: block;
  }

  &__phone {
    display: block;
    font-weight: 700;
    font-size: clamp(1.25rem, 0.833rem + 1.157vw, 1.875rem);
    color: $primaryColor;
    margin-bottom: 55px;
  }

  &__email {
    display: block;
  }

  &__inst {
    display: block;
  }
}