.footer {
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 58px;
    padding-bottom: 25px;
    background: url("../img/order-grade-bg.png") no-repeat 0% 0%;
    background-color: $primaryColor;

  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &:first-child {
      margin-bottom: 20px;
    }

    @media (max-width: 380px) {
      flex-direction: column;
      gap: 30px;
    }
  }

  &__logo {
    @media (max-width: 576px) {
      width: 50px;
    }
  }

  &__copyright,
  &__develop a{
    font-size: 12px;
    font-weight: 300;
    line-height: 15px;
    color: #aec4d8;
  }

  .menu-list {
    &__link {
      color: #fff;

      &:hover {
        color: $accentColor;
      }

      &.active {
        color: $accentColor;
      }
    }
  }
}