.grade {
  &__container {
    @include __container;
    @include xl_margin_bottom;
    text-align: center;
  }

  &__header {
    @include m_margin_bottom;
  }

  &__title {
  }

  &__wrapper {
    @include grid_5_in_row;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 21px 31px;
    background-color: #D8D8D818;
    border-radius: 10px;
  }

  &__button-wrapper {

  }

  &__button {

  }
}