.grade-home {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    @include xl_margin_bottom;
  }

  &__header {
    text-align: center;
    @include m_margin_bottom;
  }

  &__title {
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 26px;

    @media (max-width: 576px) {
      grid-template-columns: 1fr;
      gap: 13px;
    }
  }

  &__row {
    display: grid;
    gap: 20px;
  }

  &__item {
    display: grid;
    grid-template-columns: 20px auto;
    gap: 20px;
    &:before {
      content: url("../img/check.svg");
    }
  }
}
