.language {
  &__container {
    display: flex;
    gap: 10px;
    @media (max-width: 992px) {
      display: none;
    }
  }

  &__item {
    padding: 8px 10px;
    font-weight: 600;
    border-radius: 16px;
    &.active {
      border: $primaryColor solid 1px;
      font-size: 14px;
    }
  }

  &__link {
    text-decoration: none;
  }

  &_location {
    &_mobile {
      .language {
        &__container  {
          display: none;

          @media (max-width: 992px) {
            display: flex;
            justify-content: center;
          }
        }

        &__item {
          background-color: $accentColor;
          color: #fff;
        }
      }
    }
  }
}