.license {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
  }

  &__header {
    text-align: center;
    margin-bottom: 30px;
  }

  &__wrapper {
    @include xl_margin;
  }

  &__slider {
  }

  &__slide {
    cursor: pointer;
  }

  .swiper-pagination {
    position:  relative;
    margin-top: 30px;
  }

  .swiper-pagination-bullet {
    background-color: $primaryColor;
  }
}
