.our-partners {
  &__container {
    @include __container;
    text-align: center;
  }

  &__header {
    margin-bottom: 100px;
  }

  &__wrapper {
    @include grid_5_in_row;
  }

  &__item {
    padding: 18px 34px;
    background-color: #f7f7f7;
    border-radius: 10px;
  }
}