.our-partners {
  &__container {
    @include __container;
    @include xl_margin;
    text-align: center;
  }

  &__header {
    margin-bottom: 100px;

    @media (max-width: 992px) {
      margin-bottom: 50px;
    }

    @media (max-width: 576px) {
      margin-bottom: 25px;
    }
  }

  &__wrapper {
    @include grid_5_in_row;
  }

  &__item {
    padding: 18px 34px;
    background-color: #f7f7f7;
    border-radius: 10px;
  }
}