.our-partners {
  &__container {
    @include __container;
    @include xl_margin_bottom;
    text-align: center;
  }

  &__header {
    @include m_margin_bottom;
  }

  &__wrapper {
    @include grid_5_in_row;
  }

  &__item {
    padding: 18px 34px;
    background-color: #f7f7f7;
    border-radius: 10px;
  }
}