.reasons {
  &__container {
    @include __container;
    @include xl_margin_bottom;
    text-align: center;
  }

  &__header {
    @include m_margin_bottom;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px 25px;
    
    @media (max-width: 576px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 320px) {
      grid-template-columns: 1fr;
    }
  }

  &__card {
  }

  &__card-icon {
    margin-bottom: 20px;
    img {
      background-color: $accentColor;
      padding: 9px;
      border-radius: 50%;
      width: 70px;
      height: 70px;
    }
  }

  &__card-title {
    margin-bottom: 10px;
  }

  &__card-desc {
  }
}