.services {
  &__container {
    @include __container;
    text-align: center;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__desc {
    margin-bottom: 30px;
  }

  &__slider-container {

  }

  &__slider-buttons-container {
    margin-bottom: 30px;
  }

  &__slider-buttons {
  }

  &__slider-next {
  }

  &__slider-prev {
  }

  &__slide {
  }
}