.slider {
  &__buttons-container {
    display: flex;
    justify-content: end;
  }

  &__buttons {
    display: flex;
    gap: 10px;
  }

  &__prev {
    cursor: pointer;
  }

  &__next {
    cursor: pointer;
  }

  &__slide {
    img {
      width: 100%;
      border-radius: 16px;
    }
  }
}