.why-we {
  &__container {
    @include __container;
    flex-direction: column;
    text-align: center;
    @include xs_margin;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    @include m_pading;
    background-image: url("../img/why-we-bg.png");

    @media (max-width: 992px) {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 31.733%);
    justify-content: center;
    gap: 26px;

    @media (max-width: 576px) {
      grid-template-columns: 1fr;
      gap: 13px;
    }
  }

  &__header {
  }

  &__title {
  }

  &__desc {
  }

  &__card {
    padding: 50px 50px 74px 50px;
    background: $primaryColor;
    border-radius: 26px;
    background-image: url("../img/why-we-card-bg.png");
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;

    @media (max-width: 992px) {
      padding: 30px;
    }
  }

  &__card-title {
    font-size: clamp(1.5rem, 0.5rem + 2.778vw, 3rem);
    line-height: clamp(2.813rem, 2.354rem + 1.273vw, 3.5rem);
    font-weight: 700;
    letter-spacing: -.2px;
    text-align: center;
    color: $accentColor;
    margin-bottom: 20px;
  }

  &__card-desc {
    font-size: clamp(0.75rem, 0.417rem + 0.926vw, 1.25rem);
    font-weight: 700;
    line-height: clamp(1.063rem, 0.271rem + 2.199vw, 2.25rem);
    letter-spacing: -.2px;
    color: #fff;
  }

  &__button-wrapper {
    margin-top: 50px;
  }

  &_location {
    &_inner {
      .why-we {
        &__wrapper {
          background-image: none;
          padding: 0;
        }
        &__title {
          margin-bottom: 50px;
        }
        &__card {
          padding: 50px 17px 50px 17px;
        }
        &__card-title {
          font-size: 24px;
          margin-bottom: 8px;
          line-height: unset;
        }
        &__card-desc {
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: -0.2px;
        }
      }
    }
  }
}
