@mixin __container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin xl_margin_bottom {
  margin-bottom: clamp(1.875rem, -3.125rem + 13.889vw, 9.375rem);
}

@mixin m_margin_bottom {
  margin-bottom: clamp(1.563rem, -1.563rem + 8.681vw, 6.25rem);
}

@mixin s_margin_bottom {
  margin-bottom: clamp(0.938rem, -0.521rem + 4.051vw, 3.125rem);
}

@mixin xs_margin_bottom {
  margin-bottom: clamp(0.938rem, 0.229rem + 1.968vw, 2rem);
}

@mixin m_padding {
  padding: clamp(1.563rem, -1.563rem + 8.681vw, 6.25rem) 0;
}

@mixin s_padding {
  padding: clamp(1.563rem, 0.104rem + 4.051vw, 3.75rem) 0;
}

@mixin grid_5_in_row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 25px;
  @include s_margin_bottom;

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 320px) {
    grid-template-columns: 1fr;
  }
}